         <h1 style="text-align:center"><b>Basics page for Project and Problem Sets</b></h1>
 <h5 style="text-align:center">
         <a class="nav-link" href="http://[::1]:3000/admin/login">Admin Login</a>  <br>
   <a class="nav-link" href="http://[::1]:3000/users/sign_up">Register</a>  
        </h5>

<h2 style="text-align:center">
 
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
  
      <span class="navbar-toggler-icon"></span>
    </button>
    <br><br>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
               <h1 style="text-align:center"><b>Project</b></h1>
         <h4 style="text-align:center">Student Community Assistance</h4>
                 <a class="nav-link" href="http://[::1]:3000/home">Click Here to Login to Student Community Website</a> <br><br>
                      
            
    </div>
  </div>
  </nav>
</h2>
<br>
<br>
               <h1 style="text-align:center"><b>Problem Sets</b></h1>
                       <h3 style="text-align:center">Documentation<br>
                 <a class="nav-link" href="http://[::1]:3000/home">PS1</a> <br><br>
                 

                 <a class="nav-link" href="http://[::1]:3000/home">PS2</a> <br><br>
                 
                 

                 <a class="nav-link" href="http://[::1]:3000/home">PS3</a> <br><br>
                 

                 <a class="nav-link" href="http://[::1]:3000/home">PS4</a> <br><br>
                 

                 <a class="nav-link" href="http://[::1]:3000/home">PS5</a> <br><br>
                 

                 <a class="nav-link" href="http://[::1]:3000/home">PS6</a> <br><br>
                 </h3>
                 
